@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
section{
    font-family: 'Poppins', sans-serif;
    width: 100%;
   height: 100%;
  
}
.b{

    background-color: #F8F8FE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titre{
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
.titre h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}
span{
    color: #2772D6;
}
.navbar{
width:100%;
height: 100%;
border-radius: 53px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
margin-top: 20px;
padding-left: 50px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;   
}
.ba{
    margin-left: 5px;
    margin-right: 5px;
       height: 30px;
       padding: 1px;
       background-color: #E0E0E0;

}
.bt{
    width: 175px;
    height: 45px;
    border-radius: 32px;
    background-color: #2772D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    cursor: pointer;

}
.bt a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-align: center;

}
.navbar ul{
    display: flex;
    justify-content: center;
align-items: center;


}
.navbar ul li{
text-decoration: none;
list-style: none;
width: 300px;

}
.navbar div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar i{
    font-size:25px;
    color: #2772D6;
    padding-right: 5px;
}
select{
    width: 100%;
    height: 40px;
    border: none;
  border-radius: 20px;
  padding: 10px;
color: #b7b7b7;
  outline: none;
  font-weight: 300;
}


.employee{
    width: 100%;
 max-height: 100%;
   
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
      margin-left: 0px;
  margin-top: 20px;

  
}

.card{
    min-width: 250px;
    min-height: 330px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1,1, 15%);
    width: fit-content;
    height: auto;
    margin-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
.card img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
button{
    border: none;
    text-decoration: none;
    background: none;
}
.d{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
 
}
.d2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}
.bt i{
    color: #fff;
   padding-right: 10px;
}
.d2 p{
    font-weight:600;
    font-size: 15px;
    line-height: 30px;
   padding-left: 20px;
   padding-right: 20px;
}
.sp{
    color: #2772D6;
}
.num{
    font-weight: 300;
    font-size: 15px;
text-align: center;
  margin-top: 20px;
}
.info{
   
    height: 120px;
}
.pag{
    display: flex;
    align-items: center;
    justify-content: center;
}
.re{
    width: 18%;
}

@media screen and (max-width:600px){
    section{
        margin-top: 100px;
        padding: 5px;
    }
    .titre h2{
        font-size: 25px;
    }
    .navbar{
      flex-direction: column;
        height: 100%;
        padding-left: 10px;
    }
  
    .ba{
    display: none;
    background-color: #fff;
    }
 
    .b{
        clip-path: none;
        flex-direction: column;
   height: 50%;
    }
    .employee{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
   
    }
    .card{
        width: auto;
        margin-left: 0px;
    }
    ul li{
       
        margin-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: start;
       padding-left: 0px;
       margin-left: 0px;
    }
    ul {
      
    }
    ul li select{
        width: 100%;
    }
    .ba{
     display: none;
     background-color: aliceblue;
     width: 0px;
     height: 0px;

    }
   .bt{
    margin-top: 25px;
   }
   ul li select{
    width: 200px;
    font-size: 14px;

}
.bt{
    margin-left: 10px;
}
.card{
    min-width: 200px;
    min-height: 280px;
 
}
.card img{
    width: 220px;
    height: 150px;
}
  .re{
    width: 80%;
  }
    
     }
     @media screen and (min-width:601px) and (max-width:1150px){
        section{
            margin-top: 100px;
            padding: 5px;
        }
        .titre h2{
            font-size: 30px;
        }
      .b{
        clip-path: none;
      }
    ul{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 10px;
    }
    .re{
        width: 80%;
      }
    .ba{
        margin: 0px;
        width: 0px;
        height: 0px;
    }
    ul li{
        margin-bottom: 20px;
        
        display: flex;
        justify-content: start;
        align-items: start;
        
    }
    ul li select{
        width: 350px;
    
    }
     
     
     .employee{
        display: flex;
        flex-wrap: wrap;
      
        align-items: center;
        justify-content: center;
        
     }
     .card{
        width: auto;
        
        margin-left: 20px;
     }
     .bt{
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
     }
        
         }
         @media screen and (min-width:1151px) and (max-width:1300px){
         
        .navbar{
          width: 99%;
        }
        .navbar ul li{
          
         font-size: 15px;
          width: 90%;
          
        }
        .b{
         clip-path: none;
       
        }
        ul{
            padding: 0px;
        }
  
            
             }
    

   
