<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<app-header></app-header>
<section>
  <div class="p1">
    <div>
   <div class="titre">
       <h1>
        Les Packs de <span>TIE JOB</span>
       </h1>
              </div>
          
    </div>
        </div>

  <div class="cards">

    
       <div class="card">
        <div>
         <div class="a1">
           <div class="img">
             <img src="assets/serveur.png" alt="imge_pack">
           </div>
           <h2>SERVIR</h2>
         </div>
         <div class="a2">
           <p>Chef de rang</p>
           <p>Maître</p>
           <p>Commis</p>
           <p>Plongeur</p><p>serveur/serveuse</p>
           
           <p>Etc...</p>
         </div>
         <div class="a3">
        <div class="b" (click)="acheter('SERVIR')">Acheter</div>
         </div>
        </div>
         </div>
         <div class="card">
          <div>
           <div class="a1">
             <div class="img">
               <img src="assets/chef-pack.png" alt="imge_pack">
             </div>
             <h2>RESTAURER</h2>
           </div>
           <div class="a2">
             <p>Chef de cuisine</p><p>Chef de partie</p>
             <p>Commis de cuisine</p>
             <p>Cuisinier/Pizzaïolo</p><p>Barman</p>
            
             
             <p>Etc...</p>
           </div>
           <div class="a3">
            <div class="b" (click)="acheter('RESTAURER')">Acheter</div>
           </div>
          </div>
           </div>
         <div class="card">
          <div>
           <div class="a1">
             <div class="img">
               <img src="assets/directeur.png" alt="imge_pack">
             </div>
             <h2>SUPPERIEUR</h2>
           </div>
           <div class="a2">
           
             <p>Directeur de la restauration</p>
             <p>Directeur financier d’un restaurant</p>
             <p>Gerant</p>
             <p>Econome</p>
            
             <p>Manager dans la restauration</p>
             <p></p>
             <p>Etc...</p>
           </div>
          <div class="a3">
           <div class="b" (click)="acheter('SUPPERIEUR')">Acheter</div>
          </div>
          </div>
           </div>
         <div class="card or">
          <div>
           <div class="a1">
             <div class="img">
               <img src="assets/or.png" alt="imge_pack">
             </div>
             <h2>GOLD</h2>
           </div>
           <div class="a2">
             <p>SUPPERIEUR</p>
             <p>+</p>
             <p>RESTAURER</p>
             <p>+</p>
             <p>SERVIR</p>
           </div>
           <div class="a3">
            <div class="b g" (click)="acheter('GOLD')">Acheter</div>
           </div>
          </div>
           </div>
  </div>
  <div class="footer">
    <div class="f">
      <div class="ic"><i class='bx bxs-envelope'></i></div>
      <p>Contact@TieJob.com</p>
    </div>
    <div class="f">
      <div class="ic"><i class='bx bxs-phone'></i></div>
      <p>+216-26-799-477</p>
    </div>
    <div class="f">
      <div class="ic"><i class='bx bxs-city' ></i></div>
      <p>Sidi-Thabet-Ariana-2020</p>
    </div>
  </div>
</section>