<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<section>
    <div class="container">
<form [formGroup]="formsignin">
    <div>
        <div class="img">    <img src="assets\log.png" alt=""></div>
        <div class="input">
            <p>Nouvelle Mot de passe</p>
            <div class="form" [style]="bgcol2">
                <i class='bx bx-lock-alt' ></i>
                <input type="password" placeholder="+8 caractere" formControlName="password">
            </div>
            </div>
        
            <div class="input">
                <p>Confirmé votre mot de passe</p>
                <div class="form" [style]="bgcol">
                    <i class='bx bx-lock-alt' ></i>
                    <input type="password" placeholder="+8 caractere" formControlName="cpassword">
                </div>
                </div>
                <div class="b">
                    <div class="bt">
                        <a (click)="onsubmit()">Modifier</a>
                    </div>
                </div>
    </div>
</form>
    </div>
</section>

