@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
section{
    height: 97vh;
    width: 100%;
   padding: 0px;
   margin: 0px;
   font-family: 'Poppins', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F6F7FB;

}
.container{
    height: 500px;
    width: 400px;
 display: flex;
 align-items: center;
 justify-content: center;
    font-family: 'Poppins', sans-serif;
 background-color: #fff;
 border-radius: 5px;
}
img{
    width: 160px;
    height: 100px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.form{
    display: flex;
    align-items: center;
  background-color:rgba(240, 237, 255, 0.80);
  border-radius: 16px;
  width: 300px;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
}
.m{
    width: 235px;
    margin-right: 20px;
}

.form input{
    border: none;
    background: none;
    padding: 5px;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
 
}
input:focus{
    outline: none;

 
}
.form i{
    font-size: 18px;
    padding-right: 5px;
    color: #c5c5c8;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 45px;
    background-color: #3A90E3;
    margin-top: 10px;
    border-radius: 20px;
}
.bt a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.bt i{
    color: #fff;
    font-size: 20px;
}
.input p{
    color: #000;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    .container{
        width: 600px;
        height: 700px;
    }
.form{
  margin-bottom: 40px;
}
.img img{
    margin-bottom: 50px;
    width: 180px;
    height:120px ;

}
     }