<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<section>
    <div class="p1">
        <p>
         
Abonnez-vous à notre newsletter
        </p>
      <div class="d">
        <div class="input">
            <input type="text" placeholder="
            Entrez votre adresse e-mail">
        </div>
        <div class="bt">
            <a>S'abonner</a>
        </div>
      </div>
    </div>
    <div class="p2">
        <div class="img">
            <img routerLink="/pageprincipale" src="assets/fot.png" alt="logo_TIEJOB">
        </div>
        <div class="list1">
 <div class="a" routerLink="/pageprincipale">
    <a  >Acceuil</a>
 </div>
  <div class="a" routerLink="/propos">
    <a>À propos de nous</a> 
  </div>
    <div class="a" (click)="nav()">
        <a>Tarifs</a>
    </div>

        </div>
        <div class="list2">
        <div class="a" (click)=" scrollToContactIfOnHomePage()">
            <a>Contact</a> 
        </div>
         <div class="a" routerLink="/login">
            <a> Connexion</a> 
         </div>
          <div class="a"  (click)="nav()">
            <a>Inscription</a> 
          </div>
            
             </div>
             <div class="rs">
              <div class="z num">
                <p class="">Service Commercial</p>
                <div class="ic">
                  <i class='bx bxs-phone com'></i> <p class="com">26 799 477</p>
                </div>
              </div>
              <div class="z num">
                <p>Service Technique</p>
                <div class="ic">
                  <i class='bx bxs-phone'></i> <p>26 799 932</p>
                </div>
              </div>
          <div class="z">
            <p>suiviez-nous</p>
            <div class="ic">
              <a href="https://www.instagram.com/tie.job/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61559772301265" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
             <a href=" https://www.linkedin.com/company/tie-job/?viewAsMember=true" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
            
            </div>
          </div>
         
             </div>
    </div>
    
</section>
