@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.img img{
    width: 190px;
    height: 90px;
    cursor: pointer;
}
.form{
    height: 100%;
    width: 50%;
  padding-top: 10px;

}
.titre{
display: flex;
align-items: center;
justify-content: center;
}
.titre h2{
 font-size: 30px;
 padding-top: 20px;
 line-height: 36px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
   
}
.g{
    display: flex;
    align-items: center;
    justify-content:center;
}
.bar{

width: 50px;
height: 4px;
background-color:  #2772D6;
}
form{
    display: flex;
   padding-left: 50px;
    height: 100%;
    width: 100%;

}
.donne.p1{
    display: flex;
    align-items: center;
    justify-content: center;
}
label{
    font-weight: 500;
    color: black;
    padding-bottom: 10px;
}
.btn{
    padding-left: 10px;
    border: none;

}
.btn button{
    background-color: #3a6cf4;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: .5s;
    color: white;
}
.btn button i{
  color: white;
  font-size: 30px;
}
.btn button:hover{
    background-color: #4d84e2;
}
input:focus{
    outline: none;
}
.m{
    color: red;
    font-size: 14px;
}

a{
    cursor: pointer;
}
.cinetnom{
    display: flex;
    justify-content: space-between;

}
.email{
 margin-left: 60px;
}

.cin {
margin-left: 60px;
}

.titre {
margin-top: 5px;
}
.titre span{
    color: black;
}
.circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.circle{
  background-color: #f1f1ec;
    width: 110px;
    height: 110px;
    border-radius: 50%;
margin-left: 50px;
}
.upload{
    color: #2772D6;
    margin-top: 20px;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 500;
   
    display: inline-block;
}
.head{
    display: flex;
   
    
}
.file{
    color: #3a6cf4;
    padding-top: 60px;
}
.pp{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp{
    margin-left: 10px;
    color: red;
}
.p2{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p2 img{
    width: 100%;
    height: 97%;
    border-radius: 10px;
}
.cont{
    display: flex;

    width: 207px;
    height: 40px;
    border-radius: 16px;
    background-color: #EDEDED;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.cont select{
    width: 90%;
    height: 100%;
  font-size: 15px;
   background: none;
   border: none;
   color: #000;
  
}
.t{
    margin-right: 30px;
}
.d{
    width: 500px;
}
.cont input{
    width: 90%;
border: none;
background: none;
}
.cont i{
    padding-right: 10px;
}
.text{
    display: flex;
justify-content: center;
margin-top: 5px;
margin-bottom: 20px;
}
.text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-right: 10px;
}
.text a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.bt{
    width: 130px;
    height: 45px;
    border-radius: 20px;
    background-color: #2772D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.bt a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.q{
    padding-left: 60px;
}
select:focus{
    outline: none;
}
label span{
    color: red;
}
@media screen and (max-width:650px) {
    section{
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
    }
.p2{
    display: none;
}
.form{

    width: 100%;
}
.donnee{

    width: 100%;
    height: 100%;

}
.p1{
    margin-left: 0px;
    width: 100%;
}
.cinetnom{
    flex-direction: column;
}
.cont{
    width: 100%;
    margin-left: 0px;
}
.cin{
    margin-left: 10px;
    margin-right: 10px;
}
.email{
    margin-left: 10px;
    margin-right: 10px;
}
.circle{
    margin-left: 10px;
}
.img{
   
    width: 100%;
}

form{
    padding-left: 0px;
}


}
@media screen and (min-width:651px) and (max-width:800px) {
    section{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
            }
        .p2{
            display: none;
        }
        .form{
        
            width: 100%;
        }
        .donnee{
        
            width: 100%;
            height: 100%;
        
        }
        .p1{
            margin-left: 0px;
            width: 100%;
        }
        .cinetnom{
            flex-direction: column;
        }
        .cont{
            width: 99%;
            margin-left: 0px;
            height: 40px;
        }
        .cin{
            margin-left: 10px;
            margin-right: 10px;
        }
        .email{
            margin-left: 10px;
            margin-right: 10px;
        }
        .circle{
            margin-left: 10px;
        }
        .img{
           
            width: 100%;
        }
        form{
            padding-left: 0px;
        }
        
}
@media screen and (min-width:801px) and (max-width:1200px) {
    section{
        width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
        height: 100vh;
            }
        .p2{
            display: none;
        }
        .form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .donnee{
            width: 100%;
            height: 100%;
        }
        .p1{
            margin-left: 0px;
            width: 100%;
        }
        .cinetnom{
            flex-direction: column;
        }
        .cont{
            width: 99%;
            margin-left: 0px;
            height: 45px;
        }
        .cin{
            margin-left: 10px;
            margin-right: 10px;
        }
        .email{
            margin-left: 10px;
            margin-right: 10px;
        }
        .circle{
            margin-left: 10px;
            width: 150px;
            height: 150px;
         
        }
        .img{
            width: 100%;
        }
        form{
            padding-left: 0px;
        }
        .img img{
            width: 220px;
            height: 120px;
        }
        .titre h2{
font-size: 35px;
        }
        .upload{
            display: flex;
            align-items: end;
            justify-content: end;
  
        }
        .bt{
            height: 55px;
        }
        
}
