@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

.con{
    width: 99.5%;
    height: 100%;
margin-left: 5px;
margin-right: 5px;
    font-family: 'Poppins', sans-serif;
  
    padding-right: 5px;

   

}
.bx-exit{
    cursor: pointer;
}
.pp1{
    background-color: #F8F8FE;
    height: 120px;
   clip-path: polygon(100% 0, 93% 100%, 100% 100%, 0% 100%, 0% 0%);
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}
.titre{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
}
.sp1{
    color: #2772D6;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
}
.donee{
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;

}

.sp2{
    font-weight: 700;
}
.icon{
    margin-right: 50px;
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.icon i{
    padding: 10px;
    font-size: 1.3em;
color: #2772D6;
}
.pen{
    color: #000;
}


.profil{
    width: 50%;
   min-height: 100%;
   height: auto;
  margin: 10px;
  background-color: #fff;
padding: 20px;
border-radius: 87px;
  box-shadow: 0 5px 25px rgba(1, 1,1, 15%);
  padding-bottom: 50px;
}
.p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-image: url('/assets/mob.png'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: cover; /* Pour s'assurer que l'image couvre toute la div */
    background-repeat: no-repeat; /* Pour éviter que l'image ne se répète */
    background-position: center; /* Pour centrer l'image */
    width: 100%;
}
.image{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.image img{
   height: 150px; 
width: 150px;
border-radius: 50%;
}
.nom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.n p{
    font-weight: bold;
    font-size: 2em;
    color: #3a6cf4;
    padding: 10px;
}
.vcv p{
    color: #3a6cf4;
    border-bottom: 1px solid #3a6cf4;
}
.info{
    padding: 10px;
    width: 100%;
}
.input label{
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
}
.input p{
 padding-left: 10px;
    font-weight: 300;
}
h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.s{
    color: #2772D6;
}
table{
    padding: 10px;
    width: 100%;
    
}
.t{
padding: 5px;
    font-weight: 600;

}
.offre{
    height: auto;
    width: 100%;
   padding-bottom: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.p3{
margin-top: 30px;
}

.cadre{
    width: 100%;
    height: 86px;
    border-radius: 16px;
    background-color: #EDEDED;
    padding: 10px;
}
.c{
    background-color: #2772D6;
}
.cadre i{
    font-size: 23px;
    padding-right: 5px;
}
.cadre img{
    width: 36px;
    height: 35px;
  margin-right: 10px;
}
.cadre p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.a{
    display: flex;
    align-items: center;
    justify-content: end;
}
.nom{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.d{
    display: flex;
 
 
}
.text{
    position: absolute;
    top: 40%;
    background-color: #3a6cf4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s ease;

}
.text::before{
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: #3a6cf4 #0000 #0000 #0000;
 top: 100%;
}
.c:hover .text{
    top: -50%;
    visibility: visible;
    opacity: 1;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
margin: 5px;
 border: none;
}
.btn button{
    color: #fff;
    padding: 5px;
    border: none;
    background-color: #3a6cf4;
    transition: .5s;
}
.btn button:hover{
    background-color: #4d84e2;  
}
.b{
    text-decoration: none;
    border: none;
}
.c{
    border: none;
 background: none;
 display: inline-block;
 justify-content: center;
 align-items: center;
 width: 80%;
}
table tr .g{
    color: #919191;
}
.g{
    color: #919191;
}
.aucun{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.aucun i{
    color: #91919124;
    font-size: 100px;
    text-align: center;
}
.msg p{
font-size: 14px;
color: #2772D6;
}
.i{
display: flex;
align-items: center;
justify-content: center;
}
.donne{
width: 100%;
}
.donee p{
    font-size: 15px;
  
}
div .icon-button__badge{
    position: absolute;
    width: 15px;
    height: 17px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 10px;

}
.cafe {
    color: rgb(33, 175, 241); /* Couleur pour les noms de café */
  }
.dropdown-content {
    margin-top: 35px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .bxs-bell{
    cursor: pointer;
  }
  .nbo{
display: flex;
align-items: center;
justify-content: center;
  }
  table tr td{
    width: 20px;
   
    padding-left: 10px;
  
  }
  table tr{
    width: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr {
    display: flex;
    flex-wrap: nowrap;
  }
  
  table tr td {
    
    
  }
  
  table tr .g {
    width: 550px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table tr .t {
    width: 200px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
@media screen and (max-width:680px) {
    .profil{
       height: 100%;
    }
    .con{
        margin-top: 100px;
    }
.titre h1{
    font-size: 18px;
}
.sp1{
    font-size: 18px;
}
.donee{
    width: 90%;
}
.donee p{
    font-size: 14px;
    text-align: center;
}
.image img{
    width: 100px;
    height: 100px;
}
.profil{
    width: 90%;
    margin-left: 0px;
    padding-left: 0px;
}
.nom p{
    font-size: 20px;
}
.aucun p{
    text-align: center;
}
.head{
   
    width: 100%;
}
.cadre{
 height: auto;
    width: 90%;
}
.offre{

}
.c{
   
    width: 100%;
}
.nom{
   
    width: 80%;
}
.nom a{
    font-size: 14px;
}

.dropdown-content{
  width: 150px;
}
.dropdown-content a{
    font-size: 14px;
}
    
}
@media screen and (min-width:681px) and (max-width:1200px) {
    .con{
        margin-top: 100px;
    }
    .profil, .p3, .info {
        min-height: 100%;
    }
    .donee{
        width: 90%;
        text-align: center;
    }
    a .icon-button__badge{
        top:350px;
        right: 230px;
    }
    .dropdown-content{
      width: 150px;
    }
    .dropdown-content a{
        font-size: 14px;
    }
}
@media screen and (min-width:1200px) and (max-width:1300px) {
.pp1{
    clip-path: none;
}
.donee p{
    text-align: center;
}

}