@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
title{
    font-size: 30px;
    font-weight: 600;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
input:focus{
    outline: none;
}
.err{
    color: red;
    font-size: 15px;
    width: 450px;
}
p span{
    color: red;
}
a{
    cursor: pointer;
}
.region label{
    color: #000;
    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.pp1{
    width: 50%;
    padding-top: 50px;
    display: flex;

    justify-content: center;
    
}
.g{
    display: flex;
    align-items: center;
    justify-content:center;
}
.bar{

width: 50px;
height: 4px;

}
.img{
 width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 190px;
    height: 90px;
    cursor: pointer;
}
.p2{
    width: 50%;
    height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.p2 img{
    width: 100%;
    height: 95%;
    border-radius: 10px;
}
.t{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t h2{
    font-weight: 700;
    font-size: 30px;
padding-top: 40px;
    line-height: 36px;
 letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.f1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    margin-top: 20px;
}
.input p{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
}
form{
    padding-top: 10px;
}
.i{
    background-color: #EDEDED;
    width: 207px;
    height: 42px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;

}
.i i{
    padding-right: 10px;
    font-size: 18px;
}
.i input{
    border: none;
    background: none;
width: 90%;
font-family: 'Poppins', sans-serif;
}
.d{
    width: 433px;
    height: 42px;
}
.d select{
    width: 90%;
    background: none;
    border: none;
}

.text{
    display: flex;
justify-content: center;
margin-top: 5px;
margin-bottom: 20px;
}
.text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    padding-right: 10px;
}
.text a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.bt{
    width: 157px;
    height: 53px;
    border-radius: 20px;
    background-color: #2772D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.bt a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 20px;
}
/* Media Query pour les écrans d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px) {
 section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .pp1{
    width: 90%;
   margin-left: 20px;
 }
 .p2{
    display: none;
   
 }
.i{
    width: 100%;
}
.med{
    width: 100%;
}
form{
    width: 100%;
}
.p1{
    width: 80%;
    
}
.err{
    width: 340px;
}
  }
  
  /* Media Query pour les écrans d'une largeur comprise entre 769 et 1024 pixels */
  @media screen and (min-width: 769px) and (max-width: 1150px) {
    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
      
     }
     .pp1{
        width: 90%;
       margin-left: 20px;
     }
     .p2{
        display: none;
       
     }
    .i{
        width: 100%;
    }
    .med{
        width: 100%;
    }
    form{
        width: 100%;
    }
    .p1{
        width: 60%;
    }
    .input p{
        font-size: 20px;
    }
    .img img{
        width: 250px;
        height: 150px;
    }
    .t h2{
        font-size: 40px;
    }
    .i{
height: 50px;
    }
    .i input{
        font-size: 20px;
    }
    .input p{
        font-size: 20px;
    }
    .text p{
        font-size: 20px;
    }
    .text a{
        font-size: 20px;
    }
    .bt a{
        font-size: 20px;
    }
    .b{
        margin-top: 20px;
    }
  }
  
  /* Media Query pour les écrans d'une largeur supérieure à 1024 pixels */
  @media screen and (min-width: 1025px) and (max-width: 1124px){
  
    section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .pp1{
        width: 90%;
       margin-left: 20px;
     }
     .p2{
        display: none;
       
     }
    .i{
        width: 100%;
    }
    .med{
        width: 100%;
    }
    form{
        width: 100%;
    }
    .p1{
        width: 60%;
    }
    .input p{
        font-size: 20px;
    }
    .img img{
        width: 250px;
        height: 150px;
    }
    .t h2{
        font-size: 40px;
    }
    .i{
height: 60px;
    }
    .i input{
        font-size: 25px;
    }
    .i i{
        font-size: 25px;
    }
    .input p{
        font-size: 25px;
    }
    .text p{
        font-size: 25px;
    }
    .text a{
        font-size: 20px;
    }
    .bt a{
        font-size: 25px;
    }
    .b{
        margin-top: 20px;
    }
    .input{
        margin-bottom: 40px;
    }
  }