<app-header></app-header>
<head>
    <title>Inscription-TIEJOB</title>
</head>
<div class="section">
    <div class="pp1">
    <div>
    <div class="titre">
        <h1>
            À propos<span class="sp1"> de nous</span> </h1>
         </div>
     <div class="donee">
<p>NOTRE OBJÉCTIF PREMIÈRE EST DE VOUS AIDER À TROUVER LE MEILLEUR TALENT.</p>
    </div>
        </div>
            </div>
<div class="p2">
    <div class="a1">

    </div>
    <div class="a2">
        <div class="card">
<div class="sc">
    <div class="img">
        <img src="assets/p2.png" alt="propos">
    </div>
    <div class="text">
        <h3>SATISFACATION &nbsp;<span>100%</span>&nbsp;GARANTIE</h3>
      <p>
        Si vous avez des préoccupations ou des suggestions concernant notre service, n'hésitez pas à nous contacter. Nous sommes toujours prêts à discuter de vos besoins et à trouver des solutions qui vous conviennent. Votre satisfaction est notre priorité, et nous sommes là pour vous aider à tirer le meilleur parti de notre service
      </p>
    </div>
</div>
<div class="do">
    <h3>Qui EST TIE JOB ?</h3>
    <p>
        Le secteur de l'hôtellerie et de la restauration est réputé pour sa vitalité et son dynamisme, mais il est également confronté à des défis uniques en matière de recrutement et de gestion des ressources humaines. C'est dans ce contexte que notre plateforme intervient, en offrant une solution innovante pour rapprocher les employeurs de ce secteur avec les talents les plus prometteurs. <br> <br>


Que vous soyez un hôtel de luxe en quête de personnel hautement qualifié, un grand restaurant familial à la recherche d'un chef passionné, ou un café branché à la recherche de serveurs dynamiques, notre plateforme <span>TIE JOB</span> est conçue pour répondre à vos besoins spécifiques en matière de recrutement. <br> <br>

<span class="spp">En facilitant</span> la mise en relation entre les employeurs et les employés, notre plateforme contribue à dynamiser le secteur de l'hôtellerie et de la restauration en permettant aux entreprises de trouver les meilleurs talents et aux professionnels de trouver les opportunités qui correspondent à leurs compétences et à leurs aspirations. <br> <br>
Grâce à notre approche axée sur  <span class="spp">la qualité</span>, <span class="spp">la transparence</span>  <span class="spp"> et l'efficacité</span>, nous visons à devenir le partenaire de choix pour tous ceux qui cherchent à réussir dans le secteur passionnant de l'hôtellerie et de la restauration.
    </p>
</div>

        </div>
        <div class="card2">
            <div class="c1">
<div class="con" (click)="test()">
    <h2>Acheter une Pack</h2>
    <p>
        Profitez d'un accès complet et illimité à notre plateforme pendant une année entière.
    </p>

</div>
            </div>
            <div class="c2" (click)="tests()">
               <div class="con n">
                <h2>Candidat ? Créer Votre profil</h2>
                <p>service complétement gratuit</p>
               </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>


