@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

section{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;

  
}
.p1{
    background-color: #F8F8FE;
    height: 175px;
   clip-path: polygon(100% 0, 93% 100%, 100% 100%, 0% 100%, 0% 0%);
   display: flex;
   align-items: center;
   justify-content: center;
}
.titre{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
}
.sp1{
    color: #2772D6;
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    font-family: 'Poppins', sans-serif;
}
.donee{
    display: flex;
    align-items: center;
    justify-content: center;

}
.donne p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;

}
.sp2{
    font-weight: 700;
}
.p2{
    height: 100%;
    width: 100%;
   
}
.circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.circle{
    background-color: #f0f0f0;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;

}
.upload{
    color: #3a6cf4;
    margin-top: 40px;

}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1em;
    font-weight: 500;
   
    display: inline-block;
}
.head{
    display: flex;
   
}
.form{
    width: 40%;
    min-height: 90vh;
    box-shadow: 0 0 10px rgba(1, 1,1, 15%);
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
 
}

.p2{
    min-height: 100vh;
    width: 100%;
    display: flex;
align-items: center;
    justify-content:center;
    background-image: url('/assets/mob.png'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: cover; /* Pour s'assurer que l'image couvre toute la div */
    background-repeat: no-repeat; /* Pour éviter que l'image ne se répète */
    background-position: center; /* Pour centrer l'image */
   
}
.nom{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}
.mail{
    font-weight: 100;
    color: #000;
    font-size: 20px;
}
input:focus{
    outline: none;
}
.region label{
    color: #000;
    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.cont{
    display: flex;
    width: 433px;
    height: 42px;
    border-radius: 16px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.cont input{
    width: 90%;
border: none;
background: none;
}
.cont select{
    width: 90%;
    height: 100%;
  
   background: none;
   border: none;
   color: #000;
  
}
.cont i{
    padding-right: 10px;
}
textarea{
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid #f8f8f2;
    border-radius: 5px ;
    background-color: #f1f1ec;

}
.rad{
    padding-left: 30px;
    margin-bottom: 5px;
    height: 10px;
}
.rad input{
 
    font-size: 20px;
}
span{
    padding-left: 5px;
    font-size: 17px;
}

.b{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
    padding-right: 30px;
}
.btn button{
    border: none;
    background-color: #2772D6;
    color: #f8f8f2;
    width: 157px;
    height: 53px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.m{
    color: red;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 20px;
}
.form-control{
    width: 90%;
    background-color: #f1f1ec;
}

.form-label{
    color: #000;
    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.wrapper .search-input{
    background-color: #fff;
    width: 85%;
   
    border-radius: 15px;
}
.search-input input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: #EDEDED;
    border-radius: 15px;
    padding: 10px;
}
.autocom-box{
    padding: 10px 8px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(1, 1,1, 15%);
border-radius: 10px;
font-size: 14px;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px; 
   color: #2772D6;
   font-weight: 600;
    
}
.search-input i{
    padding-left: 10px;
    padding-right: 0px;
}
select{
    outline: none;
}
textarea{
    outline: none;
}
.autocom-box li:hover{
    background-color: #efefef;
}
label span{
    color: red;
}
@media screen and (max-width:680px) {
    body{
        width: 100%;
    }
    .titre{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-weight: 700;
        font-size: 25px;
        line-height: 54px;
        font-family: 'Poppins', sans-serif;
    }
    .sp1{
        font-size: 25px;
    }
    .donne{
        padding-left: 10px;
    }
  
    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.3px;
    }
    .sp2{
        font-size: 15px;
    }
.p1{
    padding-left: 20px;
}
.form{
    width: 100%;
margin: 10px;
padding: 10px;
flex-direction: column;
}
.cont{
    width:100%;
    height: 42px;
}
.head{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload p{
    text-align: center;
}
.upload label{
 display: flex;
 align-items: center;
 justify-content: center;
}
.wrapper .search-input{
    width: 100%;
   
}
.search-input input{
    width: 100%;
}
.wrapper{
    width: 100%;
}
.con textarea{
width: 100%;
}
.b{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donee{
    width: 90%;
}
.donee p{
font-size: 13px;
text-align: center;
}
section{
    margin-top: 100px;
    
    }
    .p1{
        clip-path: none;
    }
}
@media screen and (min-width:681px) and (max-width:900px) {
.head{
    width: 100%;

}
body{
    width: 100%;
  
}
.form{
    width: 90%;
}
.f{
  
    width: 80%;
}
.cont{
    width: 100%;
}
.wrapper .search-input{
    width: 100%;
   
}
.search-input input{
    width: 100%;
}
.wrapper{
    width: 100%;
}
.con textarea{
width: 100%;
}
.mb-3{
    width: 100%;
}
.donee{
    width: 90%;
   
}
.donee p{
    text-align: center;
    padding-left: 20px;
}
section{
margin-top: 100px;
}
}
@media screen and (min-width: 900px) and (max-width: 1000px){
  .f{
    width: 100%;
  }
  section{
    margin-top: 100px;
    }
  .form{
    width: 65%;
display: flex;
align-items: center;
justify-content: center;
padding-left: 20px;
padding-right: 20px;

  }
  .cont{
    width: 100%;
}
.wrapper .search-input{
    width: 100%;
   
}
.search-input input{
    width: 100%;
}
.wrapper{
    width: 100%;
}
.con textarea{
width: 100%;
}
.donee{
    width: 90%;
}
.donee p{
    text-align: center;
    padding-left: 20px;
}
section{
    margin-top: 100px;
    
    }
 
  }
  @media screen and (min-width: 1001px) and (max-width: 1150px){
    .f{
      width: 100%;
    }
    .form{
      width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

    }
    .cont{
      width: 100%;
  }
  .wrapper .search-input{
      width: 100%;
     
  }
  .search-input input{
      width: 100%;
  }
  .wrapper{
      width: 100%;
  }
  .con textarea{
  width: 100%;
  }
  .donee{
      width: 90%;
  }
  .donee p{
      text-align: center;
      padding-left: 20px;
  }
  section{
    margin-top: 100px;
    
    }
   
    }