<app-header></app-header>
<head>
    <title>
        TIEJOB
    </title>
</head>
<div class="con">
    <div class="pp1">
        <div>
        <div class="titre">
        <h1>
        Les offres <span class="sp1">reçues</span> </h1>
        </div>  
        </div>
        </div>
<div class="p">
    <div class="profil">
        <div class="head">
            <div class="image">
                <img [src]="url" alt="image_employeur">
                <div class="icon">
    
                    <a href="https://www.google.tn/maps/place/{{emp.gouvernerat}}" target="_blank"><i class='bx bxs-map pen'></i></a>
                </div>
            </div>
            <div class="nom">
                <p>{{emp.nom}}</p>
            </div>
        </div>
        <div class="info">
            <div class="p1">
                <div class="input">
                    <label for="#">Numéro de téléphone</label>
                    <p>{{emp.num}}</p>
                </div>
                <div class="input">
                    <label for="#">Email</label>
                    <p>{{emp.email}}</p>
                </div>
            </div>
        
     
          
          
            </div>
            <div class="p3">
                <h2>Off<span class="s">re</span> </h2>
                <div class="offre">
        
            
            <div class="c"id="offre">
     <div class="cadre">
        <div class="d">
            <i class='bx bxs-briefcase-alt-2'></i>
            
            <p>{{desc}}</p>
        </div>
        
     </div>
         
             </div>
          
            
                 
    
                </div>
            </div>
    
        </div>
</div>
 
 
</div>
<app-footer></app-footer>

